@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: burlywood ;
    font-family: "Poppins", sans-serif;
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0;
}

h1{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 20px
}
.hero.image{
    width: 300px;
}    

a.link {
    text-decoration: none;
    color: cadetblue;
}    

body {
    background: url("gambar\ 2.png");
    background-size: cover;
    background-position: top center;
}

.hero {
    min-height: 100vh;
    padding: 25px 16px 0px 16px;
}
.hero-section {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.herobuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text h1 {
    color: #b19885;
}

.hero-text p {
    font-weight: 600;
    font-style: italic;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tiara-bangun {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2rem;
}

.bangun {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.tombol-pesan {
    background-color: #b19885;
    border: 0;
    padding: 1rem;
    border-radius: 15px;
}

.tombol-pesan:hover {
    background-color: #dbbfaa;
}

.text-tombol {
    color: white;
    font-size: 20px;
}