@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* setup start */
* {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  /* setup end */

  body {
    font-family: "Lato", sans-serif;
}

.navigasi {
    background: #EC874F;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 12px 36px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.gambar-logo {
    width: 40px;
}

.nama-logo {
    font-weight: 800;
    font-size: 28px;
}

.menu {
    display: flex;
    gap: 16px;
}

.menu-item {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

/* Halaman uatama */
.halaman-utama {
    background: url("./image/bg.png");
    min-height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-utama {
    text-align: center;
}

.text-utama { 
    font-size: 48px;
    color: #fff;
    margin-bottom: 24px;
}

.button-utama {
    background: #FDB288;
    border-radius: 20px;
    padding: 12px 24px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.halaman-tengah {
    background: #fff;
    padding: 100px;
}

.content-tengah {
    background: #FDB288;
    padding: 20px;

}

.text-tengah {
    font-size: 28px;
    padding-bottom: 20px;
}

.halaman-bawah {
    background-color: #EC874F;
    display: flex;
    justify-content: space-between;
    padding: 36px 36px;
    color: #fff;
}
.logo-bawah {
    font-size: 50px;
}


/* rekomendasi */
.halaman-kedua {
    display: flex;
    justify-content: center;
    padding: 64px;
    
}

.text-kedua {
    margin-bottom: 24px;
}

.content-kedua {
    text-align: center;
}

.tabel {
    display: flex;
    justify-content: center ;
}
/* detail */
.halaman-ketiga {
    display: flex;
    justify-content: center;
    padding: 64px;
    font-size: 28px;
}

.text-ketiga {

    text-align: center;
    margin-bottom: 24px;
}

.tabel-2 {
    display: flex;
    justify-content: center ;
}

.text-ketiga {
    display: flex;
    justify-content: right;
    gap: 20px;
}

/* halaman-5 */
.navigasi {
    background: #EC874F;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 12px 36px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.gambar-logo {
    width: 40px;
}

.nama-logo {
    font-weight: 800;
    font-size: 28px;
}

.menu {
    display: flex;
    gap: 16px;
}

.menu-item {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.halaman-kelima {
    background: #fff;
    padding: 100px;
}

.content-kelima {
    background: #FDB288;
    padding: 20px;
    border-radius: 20px;

}

.text-kelima {
    font-size: 28px;
    padding-bottom: 20px;

}
.halaman-bawah {
   margin-top: 100px;
}

/* update */

.update-data {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}



